[Desktop Entry]
Name=Emoji Picker
Comment=Search and copy emojis and Unicode symbols to clipboard
Exec=emojiclip
Icon=accessories-character-map
Terminal=false
Type=Application
Categories=Utility;
Keywords=emoji;unicode;symbol;clipboard;picker;
